$black = #111

.header
  border-bottom 1px solid #ddd
  position fixed
  width 100%
  background #fff
  z-index 6
  top 0

.main-heading
  text-align center

.main-heading__link
  font-family 'Lobster', cursive
  color $black
  font-size 36px
  text-decoration none
  line-height 1

.main-heading__description
  font-size 18px
  text-align center

.header-phone
  pt-sans()
  color $black
  font-size 19px
  text-decoration none

.header-phone__icon
  color $black
  font-size 30px

.header-phone-icon-margin
  margin 4px 0 0 0
  float right

.header-email
  pt-sans()
  color $black
  font-size 19px

.under-fixed
  margin-top 39px
