.heading-3
  color #000
  font-size 26px
  pt-sans()
  text-align center
  margin 4px 0 3px 0

.heading-2
  color #000
  font-size 30px
  pt-sans()
  text-align: center
  margin 0 0 3px 0
  &:before
    border-top: 3px solid #C65800
    content: ''
    width: 30px
    display: block
    margin: 0 auto 4px

.heading_regular
  pt-sans()
  text-align center
  padding 20px 0 10px
  font-size 30px
  +m-min($md)
    padding: 23px 0 10px
    font-size: 34px
