.centralize-vertical
  display flex
  align-items center

.centralize-horizontal
  display flex
  justify-content center

.centralize
  display flex
  justify-content center
  align-items center

.flex-end
  justify-content flex-end

.align-right
  text-align right

.img
  max-width 100%
  display block

.hidden
  display none