.syncer
  padding: 20px 0

.syncer-text
  color #000
  font-size: 16px
  pt-sans()

.syncer-heading
  color #000
  font-size 30px
  pt-sans()
  text-align: center
  &:before
    border-top: 3px solid #C65800
    content: ''
    width: 30px
    display: block
    margin: 0 auto 4px
