.work-area
  padding-top 90px
  padding-bottom 20px
  background #141414 no-repeat center center
  background-size cover
  margin 2px 0 0
  +m-min($md)
    padding-top 190px
    padding-bottom 30px

  &-btn
    box-sizing border-box
    width 100%
    border 2px solid #fff
    display block
    color #fff
    text-decoration none
    padding 10px 20px
    pt-sans()
    font-size 26px
    transition border .25s
    &:hover
      border 2px solid rgba(#fff, .75)

    &-margin
      +m-min($sm)
        margin 20

$welding = rgba(0, 52, 192, .2)
$welding2 = rgba(0, 52, 192, .45)
.tig-welding
  background-image linear-gradient($welding, $welding2), url('img/work-area/argon.jpg')

$furniture = rgba(#3498DB, .2)
$furniture2 = rgba(#3498DB, .45)
.making-furniture
  background-image linear-gradient($furniture, $furniture2), url('img/work-area/table-lamp.jpg')

$outdoor = rgba(0,52,192, .2)
$outdoor2 = rgba(118,86,0, .45)
.outdoor
  background-image linear-gradient($outdoor, $outdoor2), url('img/work-area/car.jpg')
