hidden($breakpoints, $suffixes, $down)
  $length = length($breakpoints)
  if $down
    for $i in (0..$length)
      +m-max($breakpoints[$i])
        $selector = '.hidden-' + $suffixes[$i] + '-down'
        {$selector}
          display none
  else
    for $i in (0..$length)
      +m-min($breakpoints[$i])
        $selector = '.hidden-' + $suffixes[$i] + '-up'
        {$selector}
          display none

hidden($breakpoints, $suffixes, true)
hidden($breakpoints, $suffixes, false)