.btn-main
  box-sizing border-box
  width 100%
  border 2px solid #fff
  display block
  color #fff
  text-decoration none
  padding 10px 20px
  pt-sans()
  font-size 26px

.btn-main-margin
  +m-min($sm)
    margin 20

.btn-social
  padding 6px 0 3px
  display block
  color #fff
  text-decoration none

.btn-social__icon
  font-size 26px