.btn-main
  box-sizing border-box
  width 100%
  border 2px solid #fff
  display block
  color #fff
  text-decoration none
  padding 10px 20px
  pt-sans()
  font-size 26px


.btn-main-margin
  +m-min($sm)
    margin 20
