.btn-main
  box-sizing border-box
  width 100%
  border 1px solid #fff
  display block
  color #fff
  text-decoration none
  padding 10px 20px
  pt-sans()
  font-size 26px

.btn-main-margin
  //margin 20px 0 10px
  +m-min($sm)
    margin 20

  //&:first-child
  //  margin 0 0 20px 0
  //&:last-child
  //  margin 20px 0 20px 0
