.header
  border-bottom 1px solid #ddd

.main-heading
  text-align center
  //line-height 1

.main-heading__link
  font-family 'Lobster', cursive
  color #000
  font-size 36px
  text-decoration none
  line-height 1

.main-heading__description
  font-size 18px
  text-align center

.header-phone
  pt-sans()
  color #000
  font-size 19px

.header-phone__icon
  color #000
  font-size 30px

.header-email
  pt-sans()
  color #000
  font-size 19px