.header
  border-bottom 1px solid #ddd

.main-heading
  text-align center

.main-heading__link
  font-family 'Lobster', cursive
  color #000
  font-size 36px
  text-decoration none

.centralize
  display flex
  align-items center

.centralize_right
  justify-content flex-end

.header-phone
  pt-sans()
  color #000
  font-size 19px

.header-phone__icon
  color #000
  font-size 30px

.header-email
  pt-sans()
  color #000
  font-size 19px