.icon
  display inline-block
  width 1em
  height 1em
  stroke-width 0
  stroke currentColor
  fill currentColor

.icon-facebook
  width: 0.587890625em

.icon-vk
  width: 1.0927734375em

.icon-instagram
  width: 0.857421875em

.icon-bars
  width: 0.857421875em

.icon-phone
  width: 0.7861328125em
