.nav-btn
  background: none
  cursor pointer
  border 1px solid #000
  border-radius 3px
  &:focus
    outline none

.nav
  background #fff
  &:after
    position absolute
    opacity .5

.nav-btn__icon
  color #000
  font-size 34px

.nav-btn__text
  color #000
  font-size 34px
  pt-sans()
  padding 0 0 0 13px

.nav__item
  pt-sans()
  color #000
  display block
  font-size 25px