.syncer
  padding: 20px 0

.syncer_second
  background: #f8f8f8

.syncer_white
  background: #fff

.syncer-text
  color #000
  font-size: 16px
  pt-sans()

.syncer-heading
  color #000
  font-size 30px
  pt-sans()
  text-align: center
  &:before
    border-top: 3px solid #C65800
    content: ''
    width: 30px
    display: block
    margin: 0 auto 4px

.work-area
  padding 90px 0 20px
  background #141414 no-repeat center center
  background-size cover

.tig-welding
  background-image url('img/work-area/argon.jpg')

.making-furniture
  background-image url('img/work-area/table-lamp.jpg')

.outdoor
  background-image url('img/work-area/car.jpg')
