head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(name='robots' content='noindex')
  title Steel balls
  link(rel='stylesheet' href='main.css')
  // build:remove
  link(rel='preload' href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans&amp;subset=cyrillic' as='style' onload='this.rel="stylesheet"')
  noscript
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans&amp;subset=cyrillic')
  link(rel='preload' href='main.css' as='style' onload='this.rel="stylesheet"')
  noscript
    link(rel='stylesheet' href='main.css')
  // endbuild