extends layout.pug

block stylesheets
  link(rel='stylesheet' href='main.css')
  link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans&amp;subset=cyrillic')

block scripts
  script(src='entry.js')
  script(src='toggle.js')