doctype
html(lang='ru')
  include head.pug
  body
    header.header
      .container
        .row
          .col-xs-2.col-md-2.centralize-vertical.hidden-md-up
            button.nav-btn(type='button')
              //img.nav-btn__icon()
              //svg.icon.icon-bars
              //  use(xlink:href='#icon-bars')
              i.nav-btn__icon.fa.fa-bars(aria-hidden='true')
          .col-xs-7.col-md-6
            .row
              .col-xs-12.centralize
                h1.main-heading
                  a.main-heading__link(href='#') Steel Balls
              .col-xs-12.hidden-sm-down
                p.main-heading__description Сварочная мастерская
          .col-xs-3.col-md-4
            a.header-phone(href='tel:+79006221818')
              //img.header-phone__icon(src='img/icons/phone2.svg')
              i.header-phone__icon.fa.fa-phone.header-phone-icon-margin(aria-hidden='true')
              //svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1408 1792')
                path(d='M1408 1240q0 27-10 70.5t-21 68.5q-21 50-122 106-94 51-186 51-27 0-53-3.5t-57.5-12.5-47-14.5T856 1485t-49-18q-98-35-175-83-127-79-264-216T152 904q-48-77-83-175-3-9-18-49t-20.5-55.5-14.5-47T3.5 520 0 467q0-92 51-186 56-101 106-122 25-11 68.5-21t70.5-10q14 0 21 3 18 6 53 76 11 19 30 54t35 63.5 31 53.5q3 4 17.5 25t21.5 35.5 7 28.5q0 20-28.5 50t-62 55-62 53-28.5 46q0 9 5 22.5t8.5 20.5 14 24 11.5 19q76 137 174 235t235 174q2 1 19 11.5t24 14 20.5 8.5 22.5 5q18 0 46-28.5t53-62 55-62 50-28.5q14 0 28.5 7t35.5 21.5 25 17.5q25 15 53.5 31t63.5 35 54 30q70 35 76 53 3 7 3 21z')
              span.hidden-sm-down +7 900 622-18-18
            a.header-phone(href='mailto:master@stballs.ru')
              i.header-phone__icon.fa.fa-envelope-o(aria-hidden='true')
              span.hidden-sm-down master@stballs.ru
    .hidden-sm-down.nav-container
      nav.nav.container
        a.nav__item(href='#about') О мастерской
        a.nav__item(href='#what-we-can-to-do') Что мы можем делать?
        a.nav__item(href='#how-to-make-an-order') Как сделать заказ?
        a.nav__item(href='#our-advantages') Наши преимущества
        a.nav__item(href='#reviews') Отзывы клиентов
        a.nav__item(href='#questions-and-answers') Ваши вопросы, наши ответы
        a.nav__item(href='#portfolio') Наши работы
        a.nav__item(href='#our-clients') Наши клиенты
    section.work-area.tig-welding
      .container
        .row
          .col-xs-12
            a.work-area-btn.work-area-btn-margin(href='#') Сварка аргоном
    section.work-area.making-furniture
      .container
        .row
          .col-xs-12
            a.work-area-btn.work-area-btn-margin(href='#') Изготовление мебели
    section.work-area.outdoor
      .container
        .row
          .col-xs-12
            a.work-area-btn.work-area-btn-margin(href='#') Выездная работа
    section.syncer
      .container
        .row
          .col-xs-12
            h2#about.syncer-heading О мастерской
          .col-xs-12
            p.syncer-text Steel Balls Design – многопрофильная сварочная мастерская. Мы находимся в Санкт-Петербурге и любим воплощать идеи в жизнь. Специализируемся как на нестандартных задачах, изделий с «нуля», так и решаем повседневные вопросы. Мастерская открылась теплой осенью 2015 года.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#what-we-can-to-do.syncer-heading Что мы можем делать?
          .col-xs-12
            p.syncer-text В нашей мастерской мы изготавливаем различные металлоконструкции, мебель в стиле лофт, светильники с лампами Эдисона, дизайнерские украшения для квартир, магазинов, пространств, приусадебных участков и загородных домов. Изготавливаем консоли в стиле лофт, из прочной квадратной трубы, необычные, но особо прочные стеллажи из арматуры и полосы, сварные столы и трубы малого и большого диаметра. Работаем со всеми металлами с помощью аргонодуговой сварки.
            h3.syncer-text А именно:
            ul.syncer-text
              li сварка столов, сварка стеллажей
              li сварка барных стульев и столов
              li сварка мебели в стиле лофт
              li сварка заборов, сварка оград
              li сварка решеток
              li сварка навесов, сварка козырьков
              li сварка кованных изделий
              li сварка велопарковок и т.д.
    section.syncer
      .container
        .row
          .col-xs-12
            .syncer-heading-mark
            h2#how-to-make-an-order.syncer-heading Как сделать заказ?
          .col-xs-12
            ol.syncer-text
              li Если у вас есть вопросы по изготовлению или ремонту, то задавайте их сюда - Ваши вопросы, наши ответы
              li Отправляйте заявку мастеру.
              li Или на электронную почту
                = ' '
                a(href='mailto:master@stballs.ru') master@stballs.ru
              li С вами свяжутся для уточнения деталей.
              li Мастерская приступает к изготовлению (ремонту) изделия.
              li По окончанию работ, с вами связываются, вы приезжаете и забираете заказ.
              li У нас есть доставка по Санкт-Петербургу и по России.
              li Возможен монтаж (установка) конструкции.
            p.syncer-text Срок изготовления составляет от 10 рабочих дней. Время работы зависит от сложности и количества изделий. Срочные заказы оговариваются отдельно.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#our-advantages.syncer-heading Наши преимущества
            ul.syncer-text
              li Собственное производство.
              li Пожизненная гарантия на некоторые изделия.
              li Изготовление в кратчайшие сроки.
              li Выездная сварка.
              li Работа с большими объемами.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#reviews.syncer-heading Отзывы клиентов
    section.syncer
      .container
        .row
          .col-xs-12
            h2#questions-and-answers.syncer-heading Ваши вопросы, наши ответы
    section.syncer
      .container
        .row
          .col-xs-12
            h2#portfolio.syncer-heading Наши работы
          .col-xs-12.col-sm-6
            img.img(src='img/bench.jpg')
            .gallery-title
              h3.gallery-heading Скамья лофт
            //p Скамья лофт в прихожую, гостиную, в офис, в магазин. Специальный угол позволит поставить скамью вплотную к стене, если понизу высокий плинтус или проходит труба отопления. Материал: стальная труба, порошковая покраска, массив выкрашен под палисандр и покрыт мебельным лаком.
          //.col-xs-12.col-sm-6
          //  img.img(src='img/chairs.jpg')
          //  h3.gallery-heading Барные стулья
          .col-xs-12.col-sm-6
            img.img(src='img/red-chair.jpg')
            .gallery-title
              h3.gallery-heading Барные стулья
              span.gallery-client для Au Pont Rouge
          .col-xs-12.col-sm-6
            img.img(src='img/table.jpg')
            .gallery-title
              h3.gallery-heading Скамья лофт
          .col-xs-12.col-sm-6
            img.img(src='img/street.jpg')
            .gallery-title
              h3.gallery-heading Барные столики
              span.gallery-client для Prosto vino
          .col-xs-12.col-sm-6
            img.img(src='img/what.jpg')
            .gallery-title
              h3.gallery-heading Скамья лофт
    section.syncer
      .container
        .row
          .col-xs-12
            h2#our-clients.syncer-heading Наши клиенты
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/clients/etazi.jpg')
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/clients/alexandr.jpg')
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/clients/clock-face.png')
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/clients/theater.jpg')
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/clients/au-pont-rouge.jpg')
    footer
      .container
        .row
          .col-xs-3.bg-phone.centralize
            a.btn-social(href='tel:+79006221818')
              i.btn-social__icon.fa.fa-phone(aria-hidden='true')
              spam.hidden-sm-down +7 900 622-18-18
          .col-xs-3.bg-email.centralize
            a.btn-social(href='mailto:master@stballs.ru')
              i.btn-social__icon.fa.fa-envelope-o(aria-hidden='true')
              span.hidden-sm-down master@stballs.ru
          .col-xs-2.bg-vk.centralize
            a.btn-social(href='https://vk.com/stballs', target='_blank')
              i.btn-social__icon.fa.fa-vk(aria-hidden='true')
              span.hidden-sm-down vk
          .col-xs-2.bg-instagram.centralize
            a.btn-social(href='https://instagram.com/steelballs.spb/', target='_blank')
              i.btn-social__icon.fa.fa-instagram(aria-hidden='true')
              span.hidden-sm-down instagram
          .col-xs-2.bg-facebook.centralize
            a.btn-social(href='https://facebook.com/groups/stballs/', target='_blank')
              i.btn-social__icon.fa.fa-facebook(aria-hidden='true')
              span.hidden-sm-down facebook
    include footer.pug
