doctype
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='robots' content='noindex')
    title Steel balls
    link(rel='stylesheet' href='main.css')
    link(href='https://fonts.googleapis.com/css?family=Lobster|PT+Sans&amp;subset=cyrillic' rel='stylesheet')
  body
    header.header
      .container
        .row
          .col-xs-2
            .centralize
              button.nav-btn(type='button')
                i.nav-btn__icon.fa.fa-bars
          .col-xs-8
            h1.main-heading Steel Balls
          .col-xs-2
            .centralize
              a.header-phone(href='tel:+79006221818')
                i.header-phone__icon.fa.fa-phone(aria-hidden='true')
    .container
      .row
        .col-xs-12
          nav.nav.hidden
            a.nav__item(href='#about') О мастерской
            a.nav__item(href='#what-we-can-to-do') Что мы можем делать?
            a.nav__item(href='#how-to-make-an-order') Как сделать заказ?
            a.nav__item(href='#our-advantages') Наши преимущества
            a.nav__item(href='#reviews') Отзывы клиентов
            a.nav__item(href='#questions-and-answers') Ваши вопросы, наши ответы
          //.col-md-4
          //  a.header-phone(href='tel:+79006221818') +7 900 622-18-18
    //header.full-screen-img
      .container
        .row
          .col-xs-6
          .col-xs-6.align-right
            a.header-email(href='mailto:master@stballs.ru') master@stballs.ru
          .col-xs-12
            .centralize
              h1.main-heading Сварочная мастерская <br>Steel balls
    section.syncer
      .container
        .row
          .col-xs-12
            h2#about.syncer-heading О мастерской
          .col-xs-12
            p.syncer-text Steel Balls Design – многопрофильная сварочная мастерская. Мы находимся в Санкт-Петербурге и любим воплощать идеи в жизнь. Специализируемся как на нестандартных задачах, изделий с «нуля», так и решаем повседневные вопросы. Мастерская открылась теплой осенью 2015 года.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#what-we-can-to-do.syncer-heading Что мы можем делать?
          .col-xs-12
            p.syncer-text В нашей мастерской мы изготавливаем различные металлоконструкции, мебель в стиле лофт, светильники с лампами Эдисона, дизайнерские украшения для квартир, магазинов, пространств, приусадебных участков и загородных домов. Изготавливаем консоли в стиле лофт, из прочной квадратной трубы, необычные, но особо прочные стеллажи из арматуры и полосы, сварные столы и трубы малого и большого диаметра. Работаем со всеми металлами с помощью аргонодуговой сварки.
            h3.syncer-text А именно:
            ul.syncer-text
              li сварка столов, сварка стеллажей;
              li сварка барных стульев и столов;
              li сварка мебели в стиле лофт;
              li сварка заборов, сварка оград;
              li сварка решеток;
              li сварка навесов, сварка козырьков;
              li сварка кованных изделий;
              li сварка велопарковок и т.д.
    section.syncer
      .container
        .row
          .col-xs-12
            .syncer-heading-mark
            h2#how-to-make-an-order.syncer-heading Как сделать заказ?
          .col-xs-12
            ol.syncer-text
              li Если у вас есть вопросы по изготовлению или ремонту, то задавайте их сюда - Ваши вопросы, наши ответы
              li Отправляйте заявку мастеру.
              li Или на электронную почту
                = ' '
                a(href='mailto:master@stballs.ru') master@stballs.ru
              li С вами свяжутся для уточнения деталей.
              li Мастерская приступает к изготовлению (ремонту) изделия.
              li По окончанию работ, с вами связываются, вы приезжаете и забираете заказ.
              li У нас есть доставка по Санкт-Петербургу и по России.
              li Возможен монтаж (установка) конструкции.
            p.syncer-text Срок изготовления составляет от 10 рабочих дней. Время работы зависит от сложности и количества изделий. Срочные заказы оговариваются отдельно.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#our-advantages.syncer-heading Наши преимущества
            ul.syncer-text
              li Собственное производство.
              li Пожизненная гарантия на некоторые изделия.
              li Изготовление в кратчайшие сроки.
              li Выездная сварка.
              li Работа с большими объемами.
    section.syncer
      .container
        .row
          .col-xs-12
            h2#reviews.syncer-heading Отзывы клиентов
    section.syncer
      .container
        .row
          .col-xs-12
            h2#questions-and-answers.syncer-heading Ваши вопросы, наши ответы
    section.syncer
      .container
        .row
          .col-xs-12
            h2.syncer-heading Наши работы
          .col-xs-12.col-sm-6
            img.img(src='img/bench.jpg')
          .col-xs-12.col-sm-6
            img.img(src='img/chairs.jpg')
          .col-xs-12.col-sm-6
            img.img(src='img/red-chair.jpg')
          .col-xs-12.col-sm-6
            img.img(src='img/table.jpg')
          .col-xs-12.col-sm-6
            img.img(src='img/street.jpg')
          .col-xs-12.col-sm-6
            img.img(src='img/what.jpg')
    section.syncer.syncer_white
      .container
        .row
          .col-xs-12
            h2.syncer-heading Наши клиенты
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/etazi.jpg')
          .col-xs-6.col-sm-6.col-md-4.col-lg-3
            img.img(src='img/alexandr.jpg')
    footer
      .container
        .row
          .col-xs-12
            i.fa.fa-mobile
            a(href='tel:+79006221818') +7 900 622-18-18
          .col-xs-12
            i.fa.fa-envelope
            a(href='mailto:master@stballs.ru') master@stballs.ru
          .col-xs-12
            i.fa.fa-vk
            a(href='https://vk.com/stballs') vk
          .col-xs-12
            i.fa.fa-instagram
            a(href='https://instagram.com/steelballs.spb/') instagram
          .col-xs-12
            i.fa.fa-facebook
            a(href='https://facebook.com/groups/stballs/') facebook
            // script(src='main.min.js')
    script(src='main.min.js')